header {
  padding: 1rem;
  border-bottom: 1px solid #f1ebeb;
  box-shadow: 0 1px 8px 2px #b5afaf;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-link {
  margin: 0 0.5rem;
}

footer {
  width: 100%;
  margin: auto;
  padding: 2rem;
  display: block;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f1ebeb;
  box-shadow: 0 -1px 8px 2px #b5afaf;
}

.follow-social {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 1.8rem;
  margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
  
  .nav-link {
    margin: 0 1rem;
  }
  
  footer {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .follow-social {
    margin-bottom: 0;
  }
  
  .social-icon {
    font-size: 2rem;
    margin: 0 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  header {
    padding: 1rem 4rem;
  }
  
  footer {
    padding: 2rem 4rem;
  }
}