@import './colors.css';
@import './text.css';
@import './nav.css';
@import './cards.css';

/* 
  flexbox at least 2 times
  grid at least 2 times

  mobile, tablet, desktop
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2rem;
}