@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');


body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Prompt', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-family: 'Prompt', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #642800;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #fa798e;
}

button {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.right {
  text-align: right;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.page-title {
  font-size: 1.2rem;
}

.blog-intro {
  text-decoration: underline;
  margin: 1rem 0;
}

.blog-post {
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 2.2rem;
  }
  
  h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.8rem;
  }
  
  h3 {
    font-family: 'Prompt', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #642800;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #fa798e;
  }
  
  button {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .right {
    text-align: right;
    font-style: italic;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .page-title {
    font-size: 1.5rem;
  }
  
  .blog-intro {
    text-decoration: underline;
    margin: 1rem;
  }
  
  .blog-post {
    padding: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 2.2rem;
  }
  
  h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.8rem;
  }
  
  h3 {
    font-family: 'Prompt', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #642800;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #fa798e;
  }
  
  button {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .right {
    text-align: right;
    font-style: italic;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .page-title {
    font-size: 1.5rem;
  }
  
  .blog-intro {
    text-decoration: underline;
    margin: 1rem;
  }
  
  .blog-post {
    padding: 1rem;
  }
}